<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button id="increment-button" class="btn btn-primary" (click)="incrementCounter()">Increment</button>
